.comment
{
    color: #a0a0a0;
}                    

.keyword
{
    color: #7f0055;
    font-weight: bold;
}

.entity.name.type
{
    color: #004080;
    font-weight: bold;
}

.constant.numeric
{
    color: #800000;
}

.string.quoted
{
    color: #800000;
}